
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vasilije Markovic</title>


    <style type="text/css">.tk-museo-sans{font-family:"museo-sans",sans-serif;}</style><link media="all" href="l.css" rel="stylesheet"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta class="foundation-data-attribute-namespace"><meta class="foundation-mq-xxlarge"><meta class="foundation-mq-xlarge"><meta class="foundation-mq-large"><meta class="foundation-mq-medium"><meta class="foundation-mq-small"><style></style></head>
  <body>

    <div class="header">
    <div class="row">
      <div class="large-12 columns" style="margin:0px">
        <h1 class="title">Vasilije Markovic</h1>
        <h2>Junior Analytics Manager </h2>
      </div>
    </div>
    </div>

    <div class="row copy">
      <div class="large-12 columns">
        <p align="center">Serbian IT professional living in Berlin, Germany. Actively seeking positions in Berlin.</p>
        <div align="center" style="margin: 0"></div>
     </div>



    <div class ="container-fluid">
      <div class="row" >
        <div class="col-xs-9 col-md-4 text-center">       
          <div class="button raised" fit onclick="window.open('{{ url_for('public.about') }}', '_blank');" >About me</div>        
        </div>
        <div class="col-xs-9 col-md-4 text-center">
          <div class="button raised" fit onclick="window.open('{{ url_for('public.about') }}', '_blank');">Projects</div>
        </div>
        <div class="col-xs-9 col-md-4 text-center">
          <div class="button raised" fit>Blog</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--     <div class ="container-fluid">
      <div class="row">
        <div class="col-xs-9 col-md-4 text-center">       
          <div class="button raised" fit onclick="window.open('{{ url_for('public.about') }}', '_blank');" >About me</div>        
        </div>
        <div class="col-xs-9 col-md-4 text-center">
          <div class="button raised" fit onclick="window.open('{{ url_for('public.about') }}', '_blank');">Projects</div>
          
        </div>
        <div class="col-xs-9 col-md-4 text-center">
          <div class="button raised" fit>Blog</div>
      </div> -->
      
      


{% endblock %}

